.task-list {
    height: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 15px;
}

.task-list h5 {
    margin-left: 10px;
}

.task-list button.close {
    position: absolute;
    right: 10px;
    top: 5px;
}

.task-list button.edit {
    background-color: transparent;
    border: 0;
    bottom: 0px;
    opacity: 0.7;
    position: absolute;
    right: 5px;
}

.task-list button.edit:hover {
    cursor: pointer;
    font-weight: bold;
    opacity: 1;
}

.task-text {
    margin-left: 10px;
}